body {
    background: url('/assets/background-image-error.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.back-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #495156;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #303335;
}

/* .error-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

.error-code {
    font-size: 120px;
    font-weight: bold;
    color: #e74c3c;
    margin: 0;
    line-height: 1;
}

.error-message {
    font-size: 24px;
    color: #2c3e50;
    margin: 20px 0;
}


.error-image {
    max-width: 300px;
    margin: 20px 0;
} */